.career-slider-image {
    width: 410px;
    height: 260px
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .career-slider-image {
        width: 350px;
        height: 260px
    }
}