.sec-white {
    color: #FFFFFF;
}

.sec-white-bg {
    background-color: #FFFFFF;
}


.sec-purple {
    color: #55419e !important;
}

.sec-purple-bg {
    background-color: #55419e !important;
}

.sec-gray-bg {
    background-color: #D7D8D6;
}

.sec-blue-bg {
    background-color: #031f30;
}

.sec-blue {
    color: #031f30;
}