.contact-list {
    list-style: none;
}

.contact-list li {
    margin-bottom: 10px;
    color: #031f30;
}

.offices {
    background-color: #f1f1f1;
    padding: 12px 15px;
}

.offices .country {
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}

.offices div:nth-child(1) h3 {
    font-weight: 600;
}

.arrow-container {
    display: flex;
    flex-direction: column;
}

.select-country-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-offices {
    height: 350px;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding-right: 20px;
    width: 100%;
}

.all-offices::-webkit-scrollbar {
    scrollbar-color: #000;
    scrollbar-width: thin;
}



.select-country .address-container {
    width: 90%;
}

@media only screen and (max-width: 480px) {
    .contact-list {
        margin-top: 25px;
        margin-left: 0px;
    }

    .contact-list li {
        margin: 0px;
    }

    .offices {
        margin-top: 25px;
    }

    .offices div:nth-child(1) h3 {
        font-size: 1.475rem;
    }
}