.subtitle {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 40px;
    line-height: 2.5rem;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: 700;
    color: #031f30;
}

.mini-subtitle {
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 1.8125rem;
    font-weight: 600;
    line-height: 31px;
    line-height: 1.9375rem;
    color: #031f30;
}

.video-subtitle {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 32px;
    line-height: 2rem;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: 700;
    color: #031f30;
}

.footer-subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-weight: 600;
    color: #031f30;
}


@media only screen and (max-width: 1600px) {
    .referances-slider-container .slick-next {
        right: 10px !important;
    }
}